.peerdoc-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;

  .v-progress-circular {
    // Same as primary--text from current theme.
    color: #1976d2;
  }
}

div#mocha {
  background: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  z-index: 1000;
  position: absolute;
}
